body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

video {
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

body {
  text-align: center;
  padding-top: 20px;
  overflow-y: hidden;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}
